@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
}

/*nav section start*/
.navbar {
    background-image: linear-gradient(to right, #a517ba, #5f1752);
}

a.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li {
    padding-right: 0 10px;
}

/* nav section end  */

/* banner section start  */
#banner {
    background-image: linear-gradient(to right, #a517ba, #5f1752);
    color: white;
}
.banner-body {
    padding: 4rem;
}
.home-image {
    width: 350px;
    margin: auto;
}

.play-btn {
    width: 40px;
    margin: 10px;
}

#banner a {
    text-decoration: none;
    color: #fff;
}

#banner .promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 60px;
}
.wave-image {
    width: 100%;
}

/* banner section end  */

/* service section start */

.service {
    padding: 4rem;
}
.service-header {
    text-align: center;
    font-size: 40px;
}
.service-header::before {
    content: "";
    width: 200px;
    border-bottom: 5px solid #a517ba;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(60px);
}

.service-header::after {
    content: "";
    width: 100px;
    border-bottom: 10px solid #a517ba;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(6px);
}

.service-box {
    padding: 15px 20px;
    text-align: center;
}
.service-box img {
    width: 80px;
}

.service-box .promo-text {
    font-size: 25px;
    font-weight: 600;
}

.service .service-btn {
    background-image: linear-gradient(to right, #a517ba, #5f1752);
    color: #fff;
    box-shadow: none;

    margin: auto;
    border-radius: 10px;
}

.about-us .promo-title {
    margin-left: auto;
    font-size: 30px;
    font-weight: 600;
}
.about-us {
    background-color: #f8f7f7;
}

.list {
    padding-top: 4rem;
    margin-left: 30px;
}
.list li {
    margin-bottom: 15px;
}

.about-us img {
    width: 450px;
}

.client-image img {
    margin-right: 15px;
    width: 62px;
}
.testimonial-body {
    padding: 20px;
    margin-top: 3rem;
    border-left: 5px solid #a517ba;
}

.testimonial-body p {
    width: 345px;
}
.cilent-title {
    margin-top: 3px;
}
.cilent-title h5 {
    margin-bottom: 0;
}

.social-media img {
    width: 60px;
}

.social-media img:hover {
    transform: translateY(-12px);
    transition: 0.4s;
}

.footer-section {
    background-image: linear-gradient(to right, #a517ba, #5f1752);
}

.footer p {
    color: white;
}
.footer .address {
    list-style-type: none;
    text-align: center;
    color: white;
}
.footer .address li {
    margin-bottom: 20px;
    text-align: left;
}
.footer .address li i {
    text-align: center;
    display: inline-block;
    width: 25px;
    padding: 3px;
    height: 25px;
    background-image: linear-gradient(to right, #a517ba, #5f1752);
}
.footer-btn {
    background-image: linear-gradient(to right, #a517ba, #5f1752);
    border-radius: 10px;
    color: white;
}
